@page "/AddPassenger"
@using System.Text;
@inherits AddPassengerBase;

<h3>AddPassenger</h3>
<EditForm Model="Passenger" OnValidSubmit="@AddPassengerAsync">
    <PassengerFields Passenger="@Passenger"></PassengerFields>
    <br />
    <button type="submit" class="btn btn-success">
        <span class="oi oi-pencil"></span>
        Add Passenger
    </button>

    <button type="button" class="btn btn-secondary" @onclick="Close">
        <span class="oi oi-media-skip-backward"></span>
        Close
    </button>

</EditForm>

<NotificationDialog @ref="NotificationDialog" Description="@ConcatenatedValidationErrors"></NotificationDialog>
