@page "/AddUser"
@using System.Text;
@inject UserService _userService;
@inject NavigationManager _navigationManager;

<h3> Add User Page</h3>
<EditForm Model="@User" OnValidSubmit="@AddUserAsync">
    <UserFields User="@User"></UserFields>
    <br/>
    <button type="submit" class="btn btn-success">
        <span class="oi oi-pencil"></span>
        Add User
    </button>
    <button type="button" class="btn btn-secondary" @onclick="Close">
        <span class="oi oi-media-skip-backward"></span>
        Close
    </button>
</EditForm>

<NotificationDialog @ref="NotificationDialog" Description="@ConcatenatedValidationErrors"></NotificationDialog>

@code {
    public User User { get; set; }
    public NotificationDialog NotificationDialog{ get; set; }
    public List<ValidationError> ValidationErrors{ get; set; }
    public String ConcatenatedValidationErrors{ get; set; }

    protected override async Task OnInitializedAsync()
    {
        User = new User();
    }

    private async Task AddUserAsync()
    {
        ValidationErrors = ValidateUser();
        if(ValidationErrors.Any())
        {
            ConcatenatedValidationErrors = GetConcatenatedValidationErrors(ValidationErrors);
            NotificationDialog.Show();
        }
        else
        {
            await _userService.AddUserAsync(User);
            Close();
        }
    }

    private void Close()
    {
        _navigationManager.NavigateTo("/UserList");
    }

    private List<ValidationError> ValidateUser()
    {
        var validationErrors = new List<ValidationError>();
        if (String.IsNullOrWhiteSpace(User.UserName))
            validationErrors.Add(new ValidationError { Description = "Please insert username!" });

        if (String.IsNullOrWhiteSpace(User.Password))
            validationErrors.Add(new ValidationError { Description = "Please insert Password!" });

        if (String.IsNullOrWhiteSpace(User.RoleId))
            validationErrors.Add(new ValidationError { Description = "Please insert Role!" });

        return validationErrors;

    }
    private string GetConcatenatedValidationErrors(List<ValidationError> ValidationErrors)
    {
        StringBuilder message = new StringBuilder();
        foreach(var error in ValidationErrors)
        {
            if (message.Length == 0)
                message.Append(error.Description);
            else
                message.Append($"{Environment.NewLine} {error.Description}");

        }
        return message.ToString();
    }
}
