@page "/AddUser"
@using System.Text;
@inherits AddUserBase;

<h3> Add User Page</h3>
<EditForm Model="@User" OnValidSubmit="@AddUserAsync">
    <UserFields User="@User"></UserFields>
    <br/>
    <button type="submit" class="btn btn-success">
        <span class="oi oi-pencil"></span>
        Add User
    </button>
    <button type="button" class="btn btn-secondary" @onclick="Close">
        <span class="oi oi-media-skip-backward"></span>
        Close
    </button>
</EditForm>

<NotificationDialog @ref="NotificationDialog" Description="@ConcatenatedValidationErrors"></NotificationDialog>


