@*@page "/CheckInPassengers/{SeatId}/{FlightId}"
@using FlightManagementBlazorServer.Services;
@using DomainModel.Models;
@inject SeatService _seatService;
@inject NavigationManager _navigationManager;
@if(seat==null)
{
    <p>Loading...</p>
}
else
{
    <h3>Check in Passenger @seat.Passenger.Name</h3>
     
    <EditForm Model="@seat"  OnValidSubmit="@UpdateSeatAsync">
        <SeatFields Seat="@seat"></SeatFields>
        <button type="submit" class="btn btn-success">
            <span class="oi-pencil"></span>
            Update Seat
        </button>
        <button type="button" class="btn btn-secondary" @onclick="Close">
            <span class="oi oi-media-skip-backward"></span>
            Close
        </button>
    </EditForm>
    
    
}
@code {
    [Parameter]
    public string SeatId{ get; set; }
    [Parameter]
    public string FlightId{ get; set; }

    public Seat seat{ get; set; }

    protected override async Task OnInitializedAsync()
    {
        seat =await _seatService.GetSeatAsync(int.Parse(FlightId),int.Parse(SeatId));
    }
    private async Task UpdateSeatAsync()
    {
        await _seatService.UpdateSeat(seat);
        Close();
    }
     private void Close()
    {
        _navigationManager.NavigateTo("/Seat/{FlightId}");
    }
}
*@