@page "/LoginPage"
@using System.Text;
@inherits LoginPageBase;

<h3>LoginPage</h3>
@if(Users == null)
{
    <p>Loading...</p>
}
else
{
    <div class="center">
        <p>Username</p>
        <p>
            <input @bind-value="username" />
        </p>

        <p>Password</p>
        <p>
            <input @bind-value="password" />
        </p>

        <button type="button" class="btn btn-success" @onclick="AuthorizeLogin">
            <span class="oi-pencil"></span>
            Login
        </button>
            
        <button type="button" class="btn btn-secondary" @onclick="Close">
            <span class="oi oi-media-skip-backward"></span>
            Close
        </button>
    </div>
}

<NotificationDialog @ref="WrongAuthorizationLogin" Description="@ConcatenatedValidationErrors"></NotificationDialog>
<ConfirmationDialog @ref="confirmationDialog" ConfirmationChanged="@OnConfirmationSelected" Question="Login successful!"></ConfirmationDialog>
